<footer class="footer">
  <div class="footer-container"> 
    <a id="disclaimer-link" href="/disclaimer">
      <div class="footer-content">Privacy/Disclaimer Statement</div>
    </a>
    <div class="footer-content"> All images are sourced from Pinterest.ca</div>
  </div>
</footer>
