<header class="header">  
  <div class="left-section">
    <div class="logo-container">
      <a href="/home">
        <img class="logo" src="/pictures/1730362-200.png" alt="Logo"> 
      </a>
      <div class="web-name"> 
        <a id="web-name-link" href="/home">
          PawPals <br> Adoption Centre
        </a>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="datetime">
      <p id="time"></p>
    </div>
  </div>
</header>

