<nav class="sidebar">
  <div class="sidebar-link">
    <a href="/home">
      <div> Home </div>
    </a>
  </div>

  <div class="sidebar-link">
    <a href="/account">
      <div> Create an account </div>
    </a>
  </div>
  
  <div class="sidebar-link">
    <a href="/find">
      <div> Find a Dog/Cat </div>
    </a>
  </div>
  
  <div class="sidebar-link">
    <a href="/check-login?redirect=/giveaway">
      <div> Have a Pet to Give Away </div>
    </a>
  </div>

  <div class="sidebar-link">
    <a href="/dogcare">
      <div> Dog Care </div>
    </a>
  </div>

  <div class="sidebar-link">
    <a href="/catcare">
      <div> Cat Care </div>
    </a>
  </div>

  <div class="sidebar-link">
    <a href="/logout">
      <div> LogOut </div>
    </a>
  </div>

  <div class="sidebar-link">
    <a href="/contact">
      <div> Contact us </div>
    </a>
  </div>
  
</nav>
